<%@include file="/WEB-INF/tiles/taglibs.jsp"%>

<table width="100%" border="0" cellspacing="0" cellpadding="0">

<tr>
<td colspan="2">Thank you for your purchase.</td>
</tr>

<br />
  <br />
  
<tr>
<td colspan="2"><h2> <strong>Order Confirmation</h2> </strong> </td>
</tr>
<tr>
<td colspan="2">====================================================================================================</td>
</tr>

<tr> 
<td width="35%"><strong>User Order No :</strong></strong></td>
<td align="left">${userOrder.id}</td>
</tr>

<tr> 
<td><strong>Order Date :</strong></strong></td>
<td>${userOrder.wsOrderDate}</td>
</tr>

<tr> 
<td><strong>Ticket Delivery Info :</strong></strong></td>
<td>${ticketGroup.ticketDeliveryInfo}</td>
</tr>

<br />
  <br />

<tr>
<td colspan="2"><h3><strong> <u>Order Details:</u></strong></h3></strong></td>
</tr>

  <br />
  
<tr>
	<td><strong>Event : </strong></td>
	<td>${zoneEvent.eventName}</td>
</tr>
<tr>
	<td><strong>Venue:</td>
	<td>${zoneEvent.venueName}  ,${zoneEvent.venueCity},\ ${zoneEvent.venueState},
     ${zoneEvent.venueCountry}</td>
</tr>
     
 <tr>
	<td><strong>Date: </strong></td>
	<td>${zoneEvent.eventDate}</td>
</tr>

 <tr>
	<td><strong>Time: </strong></td>
	<td>${zoneEvent.eventTime}</td>
</tr>

<tr>
	<td><strong>Venue Map: </strong></td>
	<td ><a href="${zoneEvent.mapPath}">${zoneEvent.mapPath}</a> </td>
</tr>

<tr>
	<td colspan="2"><h4><strong> <u>Ticket Details:</u></strong></h4></strong></td>
</tr>

<tr>
	<td><strong>Zone :</strong></td>
	<td>${ticketGroup.zone}</td>
</tr>

<tr>
	<td><strong>Zone Description:</strong></td>
	<td>${ticketGroup.zoneDescription}</td>
</tr>

<tr>
	<td><strong>Quantity:</strong></td>
	<td>${ticketGroup.quantity}</td>
</tr>

<tr>
	<td><strong>Price/Ticket:</strong></td>
	<td>${ticketGroup.zonePrice}</td>
</tr>

<tr>
	<td><strong>Promotional Offer:</strong></td>
	<td>${userOrder.promotionalOffer}</td>
</tr>

<tr>
	<td><strong>Discount:</strong></td>
	<td>${userOrder.discountAmount}</td>
</tr>

<tr>
	<td><strong>Loyalty Reward:</strong></td>
	<td>${userOrder.loyaltySpent}</td>
</tr>

<br />
 <br />
<tr>
	<td colspan="2">====================================================================================================</td>
</tr>
<tr>
	<td><strong>Order Total :</strong> </td>
	<td><strong>${userOrder.orderTotal}</strong></td>
</tr>

<tr>
    <td colspan="2"><strong> *</strong>All charges listed are in U.S. Dollars (USD).<br /></td>
  </tr>
  <tr>
	<td colspan="2">====================================================================================================</td>
</tr>
  <br />
  <br />
  
  <tr> 
<td><strong>Loyalty Info :</strong></strong></td>
<td>${ticketGroup.loyaltyInfo}</td>
</tr>
 
<tr>
	<td colspan="2"><h3><strong> <u>Your order was billed to:</u></strong></h3></td>
</tr>
  <br />
  <br />

<tr>
	<td><strong>Name:</td>
	<td>${customer.firstName}</td>
</tr>

<tr>
	<td><strong>Address:</strong></td>
	<td>${customer.billingAddress.addressLine1}</td>
</tr>

<tr>
	<td><strong>City/State/Zip code:</strong></td>
	<td>${customer.billingAddress.city},${customer.billingAddress.state.name},${customer.billingAddress.zipCode}</td>
</tr>

<tr>
	<td><strong>Country:</strong></td>
	<td>${customer.billingAddress.country.countryName}</td>
</tr>
  <br />
  <br />
<tr>
	<td colspan="2"><h3><strong> <u>Your order will be shipped to:</u></strong></h3></td>
</tr>
 <br />
 <br />
<tr>
	<td><strong>Name:</strong></td>
	<td>${customer.firstName}</td>
</tr>

<tr>
	<td><strong>Address:</strong></td>
	<td>${customer.mailingAddress.addressLine1}</td>
</tr>

<tr>
	<td><strong>City/State/Zip code:</strong></td>
	<td>${customer.mailingAddress.city},${customer.mailingAddress.state.name},${customer.mailingAddress.zipCode}</td>
</tr>

<tr>
	<td><strong>Country:</strong></td>
	<td>${customer.mailingAddress.country.countryName}</td>
</tr>
<br />
<br />

<tr> 
<td colspan="2" >Zone Tickets is a ticket resale website that sells tickets in color coded ZONES to simplify your ticket buying experience.
For every $100 you spend, you will earn $${loyaltyAmount} in Reward Dollars towards future ticket purchases.
Zone Tickets has no service, shipping or any other fees. </td>
</tr>
<tr> 
<td colspan="2" >ZoneTickets Desktop Site : http://zonetickets.com/zones/</td>
</tr>
<br />
<br />
<tr> 
<td colspan="2"> Best regards </td>
</tr>
<tr> 
<td colspan="2"> Reward The Fan </td>
</tr>


<tr>
	<td colspan="2">
The information contained in this message may be privileged, confidential, and protected from disclosure. If the reader of this message is 
not the intended recipient, or any employee or agent responsible for delivering this message to the intended recipient,
you are hereby notified that any dissemination, distribution, or copying of this communication is strictly prohibited. 
f you have received this communication in error, please notify us immediately by replying to the message and deleting it from your computer.
</td>
</tr>
</table>