<%@include file="/WEB-INF/tiles/taglibs.jsp"%>


<table width="100%" border="0" cellspacing="0" cellpadding="0">

  
<tr>
<td colspan="2" ><h3> <strong>Dear Ulaganathan Koothaiyan</strong> </h3> </td>
</tr>


<tr> 
<td colspan="2" >We have received your request for a password reset to the ZoneTickets Application.
The following temporary, case-sensitive access code has been generated for your immediate use: 232sfdfdf34ssdsdsd3434asdsdsdsd.
After you log in, using the access code you will be prompted to create a new password,
which you should save for future reference. 
Please <a href="http://zonetickets.com/zones/ForgotPassword"><strong>click here</strong></a> to reset your password.</td>
</tr>

<tr>
<td colspan="2" ><strong>As a reminder your user name is: </strong>veera@gmail.com</td>
</tr>

<tr> 
<td colspan="2"> Best regards </td>
</tr>
<tr> 
<td colspan="2"> ZoneTickets.com </td>
</tr>

<br />
  <br />
<tr>
	<td colspan="2">
The information contained in this message may be privileged, confidential, and protected from disclosure. If the reader of this message is 
not the intended recipient, or any employee or agent responsible for delivering this message to the intended recipient,
you are hereby notified that any dissemination, distribution, or copying of this communication is strictly prohibited. 
f you have received this communication in error, please notify us immediately by replying to the message and deleting it from your computer.
</td>
</tr>
</table>