<%@include file="/WEB-INF/tiles/taglibs.jsp"%>
<table width="500" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2">Thank you for your purchase.</td>
  </tr>
  <tr>
    <td height="15px" colspan="2"></td>
  </tr>
  <tr>
    <td colspan="2"><h2> <strong>Order Confirmation  </strong></h2> </td>
  </tr>
  
   <tr>
    <td height="24"><strong>User Order ID :</strong></td>
    <td height="24">$checkOut.userOrder.id</td>
  </tr>
  
  <tr>
    <td height="24"><strong>Company Short Name:</strong></td>
    <td height="24">$checkOut.company.companyShortDesc</td>
  </tr>
  
  <c:foreach items="${checkOut.checkOutEvents}" var="checkOutEventObj" >
 
 
  <tr>
    <td height="24"><strong>Event :</strong></td>
    <td height="24">${checkOutEventObj.name}</td>
  </tr>
 
  <tr>
  
    <td height="24"><strong>Venue:</strong></td>
    <td height="24">${checkOutEventObj.venue.location} &nbsp; ,${checkOutEventObj.venue.city},
    &nbsp; ${checkOutEventObj.venue.state},&nbsp;${checkOutEventObj.venue.country}&nbsp;</td>	
 			
  </tr>	
  <tr>
    <td height="24"><strong>Date :</strong></td>
    <td height="24">${checkOutEventObj.eventDate}</td>
  </tr> 
     <tr>
    <td height="24"><strong>Time :</strong></td>
    <td height="24">${checkOutEventObj.eventTime}</td>
  </tr>
  <c:foreach items="${checkOutEventObj.orderItems}" var="orderItemObj" >
  
   <tr>
    <td height="24"><strong>Item Order id:</strong></td>
    <td height="24">${orderItemObj.id}</td>
  </tr> 
  <tr>
    <td height="24"><strong>Zone :</strong></td>
    <td height="24">${orderItemObj.category}</td>
  </tr>
  <tr>
    <td height="24"><strong>Quantity:</strong></td>
    <td height="24">${orderItemObj.qty}</td>
  </tr>
  <tr>
    <td height="24"><strong>Price/Ticket:</strong></td>
    <td height="24">${orderItemObj.price}</td>
  </tr>
  </c:foreach>
  
   </c:foreach>
  
  <tr>
    <td height="24" style="border-top:1px solid #333333; border-bottom:1px solid #333333"><strong>Order Total</strong></td>
    <td height="24" style="border-top:1px solid #333333; border-bottom:1px solid #333333"><strong>$$toatlOrderAmount</strong></td>
  </tr>
  <tr>
    <td height="24" colspan="2"><strong> *</strong>All charges listed are in U.S. Dollars (USD).<br /></td>
  </tr>
   <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><h3><strong> <u>Your order was billed to:</u></strong></h3>	</td>
  </tr>
  <tr>
  	<td height="24"><strong>Name:</strong></td>
    <td>$checkOut.customer.firstName $checkOut.customer.lastName</td>
  </tr>
  
  <tr>
    <td height="24"><strong>Address:</strong></td>
    <td>$checkOut.customer.billingAddress.addressLine1</td>
  </tr>
  <tr>
    <td height="24"><strong>City/State/Zip code:</strong></td>
    <td> $checkOut.customer.billingAddress.city, $checkOut.customer.billingAddress.state.name  $checkOut.customer.billingAddress.zipCode</td>
  </tr>
  <tr>
    <td height="24"><strong>Country:</strong></td>
    <td> $checkOut.customer.billingAddress.country.countryName</td>
  </tr>
  <!-- <tr>
    <td height="24"><strong>Email:</strong></td>
    <td> $checkOut.customer.email </td>
  </tr>
  
   <tr>
    <td height="24"><strong>Referral:</strong></td>
    <td>$representativeName  $serialNumber</td>
  </tr>
  
  
  <tr>
    <td height="24"><strong>Day Phone:</strong></td>
    <td>$checkOut.customer.phone</td>
  </tr>
  <tr>
    <td height="24"><strong>Payment Type:</strong></td>
    <td>$checkOut.getCardType()</td>
  </tr>
  <tr>
    <td height="24"><strong>Card Number:</strong></td>
    <td>XXXXXXXXXXXX-$accountnumber</td>
  </tr>
  <tr>
    <td height="24"><strong>Transaction Id:</strong></td>
    <td>$transactionId</td>
  </tr>
   -->
  <tr>
    <td height="24" colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td height="24" colspan="2"><h3><strong ><u>Your order will be shipped to:</u></strong></h3></td>
  </tr>
  <tr>
    <td height="24"><strong>Name:</strong></td>
    <td>$checkOut.customer.firstName $checkOut.customer.lastName</td>
  </tr>
  <tr>
    <td height="24"><strong>Address:</strong></td>
    <td> $checkOut.customer.mailingAddress.addressLine1 </td>
  </tr>
  <tr>
    <td height="24"><strong>City/State/Zip&nbsp;code:&nbsp;&nbsp;</strong></td>
    <td> $checkOut.customer.mailingAddress.city, $checkOut.customer.mailingAddress.state.name $checkOut.customer.mailingAddress.zipCode</td>
  </tr>
  <tr>
    <td height="24"><strong>Country:</strong></td>
    <td>$checkOut.customer.mailingAddress.country.countryName</td>
  </tr> 
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
  
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  
  
  
</table>

<img src="$map" /><br /><br /><br />
<b>If you are having problems viewing the map, please <a href="$map">click here</a></b><br /><br /><br />
<span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#0066FF;">The information contained in this message may be privileged, confidential, and protected from disclosure. If the reader of this message is not the intended recipient, or any employee or agent responsible for delivering this message to the intended recipient, you are hereby notified that any dissemination, distribution, or copying of this communication is strictly prohibited. If you have received this communication in error, please notify us immediately by replying to the message and deleting it from your computer.</span>
